@import url("https://fonts.googleapis.com/css?family=Muli");
body {
  margin: 0;
  padding: 0;
  font-family: 'Avenir Next', 'Muli', sans-serif;
  color: #fff; }

h1 {
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 25px;
  font-weight: 300;
  text-indent: 25px; }
  @media all and (min-width: 768px) {
    h1 {
      font-size: 100px;
      letter-spacing: 75px;
      text-indent: 75px; } }

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 4px;
  font-size: 14px;
  transition: all 0.35s ease-in-out; }
  @media all and (min-width: 768px) {
    a {
      font-size: 20px; } }
  a:hover {
    opacity: 0.5; }

.background {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100vh; }
  .background .background-image {
    width: 100%;
    height: 100%;
    background: 50% 50% no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.35s ease-in-out; }
    .background .background-image.active {
      opacity: 1; }
  .background .container {
    display: block;
    box-sizing: border-box;
    padding: 25px;
    height: 100%;
    width: 100%;
    position: relative; }
    @media all and (min-width: 768px) {
      .background .container {
        padding: 50px; } }
    .background .container .menu {
      text-align: right; }
    .background .container .title {
      text-align: center;
      position: absolute;
      width: 100%;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -45%); }
    .background .container .social {
      position: absolute;
      top: 70%;
      left: 50%;
      width: 100%;
      text-align: center;
      transform: translate(-50%, -70%); }
      .background .container .social a {
        font-size: 40px; }
        @media all and (min-width: 768px) {
          .background .container .social a {
            font-size: 75px; } }
    .background .container .copyright {
      display: block;
      position: absolute;
      bottom: 25px;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      letter-spacing: 4px; }
      .background .container .copyright p {
        text-transform: uppercase;
        font-size: 11px; }
        @media all and (min-width: 768px) {
          .background .container .copyright p {
            font-size: 16px; } }
      @media all and (min-width: 768px) {
        .background .container .copyright {
          bottom: 50px; } }
